.mat-expansion-panel-header {
  height: 100%;
}

.expansion-panel-header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  height: 50px;
  width: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
