<mat-accordion>
  <mat-expansion-panel *ngFor="let forecast of weather" hideToggle>
    <mat-expansion-panel-header>
      <div class="expansion-panel-header-content">
        <div>{{forecast.dt * 1000 | date:'EEEE (M/d)'}}</div>
        <div class="row">
          <img src="{{forecast.icon}}">
          <div>{{forecast.description | titlecase}}</div>
          <div>
            <ng-container
              *ngIf="extractTemperatureDict(forecast.temp); let temps">
              {{temps.max | convertTemperature:'K':'F' | temperature:'F'}} /
              {{temps.min | convertTemperature:'K':'F' | temperature:'F'}}
            </ng-container>
          </div>
        </div>
      </div>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
