.mat-expansion-panel-header {
  height: 100%;
}

.expansion-panel-header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  height: 50px;
  width: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra-info {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: center;
  column-gap: 12px;
}

span:nth-child(2n-1) {
  font-weight: bold;
  justify-self: end;
}

span:nth-child(2n) {
  justify-self: start;
}
